@page
@{ Layout = "_Layout"; }
@section Styles{
  <style>
    .el-tag {
      height: auto;
      white-space: inherit;
      margin-bottom: 5px;
      margin-right: 5px;
    }
    .tips .el-link--inner {
      margin: -3px 5px 0;
    }
    .el-select {
      width: 100%;
    }
  </style>
}

<el-steps :active="step" finish-status="success" simple style="margin-bottom: 20px;">
  <el-step title="基本属性"></el-step>
  <el-step title="采集网址"></el-step>
  <el-step title="标题及正文"></el-step>
  <el-step title="可选字段"></el-step>
  <el-step title="其他选填项"></el-step>
</el-steps>

<el-form v-show="step === 0" ref="form0" :model="form" size="small" label-width="240px">

  <el-form-item label="采集规则名称" prop="ruleName" :rules="{ required: true, message: '请输入采集规则名称' }">
    <el-input v-model="form.ruleName"></el-input>
  </el-form-item>
  <el-form-item label="采集到栏目" prop="channelIds" :rules="{ required: true, message: '请选择采集到栏目' }">
    <el-cascader
      ref="channelIds"
      v-model="form.channelIds"
      :options="channels"
      :props="{ multiple: false, checkStrictly: true }"
      filterable
      placeholder="请选择采集到栏目">
      <span slot-scope="{ node, data }">
        {{ node.label }} ({{ data.count }})
      </span>
    </el-cascader>
  </el-form-item>
  <el-form-item label="网页编码" prop="charset" :rules="{ required: true, message: '请选择网页编码' }">
    <el-select v-model="form.charset" placeholder="请选择网页编码">
      <el-option v-for="charset in charsetList" :label="charset.label" :value="charset.value"></el-option>
    </el-select>
  </el-form-item>
  <el-form-item label="采集内容数" prop="gatherNum" :rules="[
    { required: true, message: '请输入采集内容数' },
    { type: 'number', message: '采集内容数必须为数字值'}
  ]">
    <el-input-number controls-position="right" size="small" v-model.number="form.gatherNum" placeholder="请输入采集内容数"></el-input-number>
    <div class="tips">需要采集的内容数，0代表采集所有内容</div>
  </el-form-item>
  <el-form-item label="内容图片">
    <el-radio-group v-model="form.isSaveImage">
      <el-radio :label="true">下载图片</el-radio>
      <el-radio :label="false">不下载图片</el-radio>
    </el-radio-group>
    <div class="tips">设置是否下载所采集内容的图片到服务器中</div>
  </el-form-item>
  <el-form-item label="封面图片">
    <el-radio-group v-model="form.imageSource">
      <el-radio label="none">不设置封面图片</el-radio>
      <el-radio label="content">将内容正文中的图片设为封面图片</el-radio>
      <el-radio label="list">将列表页中的图片设为封面图片</el-radio>
    </el-radio-group>
  </el-form-item>
  <el-form-item label="内容附件">
    <el-radio-group v-model="form.isSaveFiles">
      <el-radio :label="true">下载附件</el-radio>
      <el-radio :label="false">不下载附件</el-radio>
    </el-radio-group>
    <div class="tips">设置是否下载所采集内容的附件到服务器中</div>
  </el-form-item>
  <el-form-item label="当内容正文为空时是否采集">
    <el-radio-group v-model="form.isEmptyContentAllowed">
      <el-radio :label="true">采集</el-radio>
      <el-radio :label="false">不采集</el-radio>
    </el-radio-group>
  </el-form-item>
  <el-form-item label="当内容标题重复时是否采集">
    <el-radio-group v-model="form.isSameTitleAllowed">
      <el-radio :label="true">采集</el-radio>
      <el-radio :label="false">不采集</el-radio>
    </el-radio-group>
  </el-form-item>
  <el-form-item label="采集内容的审核状态">
    <el-radio-group v-model="form.isChecked">
      <el-radio :label="true">审核通过</el-radio>
      <el-radio :label="false">待审核</el-radio>
    </el-radio-group>
    <div class="tips">采集的内容是否不经过审核直接添加到栏目中</div>
  </el-form-item>
  <el-form-item label="倒序采集">
    <el-radio-group v-model="form.isOrderByDesc">
      <el-radio :label="true">倒序采集</el-radio>
      <el-radio :label="false">顺序采集</el-radio>
    </el-radio-group>
    <div class="tips">采用倒序采集可以保持和被采集的新闻列表顺序一致，建议您选“是”</div>
  </el-form-item>
  
</el-form>
<el-form v-show="step === 1" ref="form1" :model="form" size="small" label-width="240px">

  <el-form-item label="采集网址规则">
    <el-checkbox v-model="form.gatherUrlIsCollection" :label="true">从指定网址</el-checkbox>
    <el-checkbox v-model="form.gatherUrlIsSerialize" :label="true">从序列相似网址</el-checkbox>
  </el-form-item>
  <el-form-item v-if="form.gatherUrlIsCollection" label="指定采集网址" prop="gatherUrlCollection" :rules="{ required: true, message: '请输入指定采集网址' }">
    <el-input type="textarea" :rows="5" v-model="form.gatherUrlCollection"></el-input>
    <div class="tips">多个网址以换行符分割</div>
  </el-form-item>
  <template v-if="form.gatherUrlIsSerialize">
    <el-form-item label="序列相似网址" prop="gatherUrlSerialize" :rules="{ required: true, message: '请输入序列相似网址' }">
      <el-input id="gatherUrlSerialize" v-model="form.gatherUrlSerialize"></el-input>
      <div class="tips">序列相似网址必须<el-link :underline="false" type="primary" v-on:click="insert('gatherUrlSerialize', '*')">插入 * 通配符</el-link>，代表变动数字</div>
    </el-form-item>
    <el-form-item label="变动数字范围">
      从
      <el-input-number controls-position="right" size="small" :min="1" v-model.number="form.serializeFrom" style="width: 100px" v-validate="'required|numeric'"></el-input-number>
      到
      <el-input-number controls-position="right" size="small" :min="1" v-model.number="form.serializeTo" style="width: 100px" v-validate="'required|numeric|min_value:1'"></el-input-number>
      数字变动倍数：
      <el-input-number controls-position="right" size="small" :min="1" v-model.number="form.serializeInterval" style="width: 100px" v-validate="'required|numeric|min_value:1'"></el-input-number>
      <el-checkbox v-model="form.serializeIsOrderByDesc" :label="true" style="margin-left: 20px;">倒序</el-checkbox>
      <el-checkbox v-model="form.serializeIsAddZero" :label="true">补零</el-checkbox>
    </el-form-item>
  </template>

  <el-form-item label="列表页内容地址开始（必填）" prop="contentUrlStart" :rules="{ required: true, message: '请输入列表页内容地址开始' }">
    <el-input type="textarea" :rows="5" id="contentUrlStart" v-model="form.contentUrlStart"></el-input>
    <div class="tips">遇到变动字符请<el-link :underline="false" type="primary" v-on:click="insert('contentUrlStart', '*')">插入 * 通配符</el-link>，多个条件请<el-link :underline="false" type="primary" v-on:click="insert('contentUrlStart', '|')">插入 | 通配符</el-link></div>
  </el-form-item>
  <el-form-item label="列表页内容地址结束（必填）" prop="contentUrlEnd" :rules="{ required: true, message: '请输入列表页内容地址结束' }">
    <el-input type="textarea" :rows="5" id="contentUrlEnd" v-model="form.contentUrlEnd"></el-input>
    <div class="tips">遇到变动字符请<el-link :underline="false" type="primary" v-on:click="insert('contentUrlEnd', '*')">插入 * 通配符</el-link>，多个条件请<el-link :underline="false" type="primary" v-on:click="insert('contentUrlEnd', '|')">插入 | 通配符</el-link></div>
  </el-form-item>
  <template v-if="form.imageSource === 'list'">
    <el-form-item label="列表页图片地址开始（必填）" prop="imageUrlStart" :rules="{ required: true, message: '请输入列表页图片地址开始' }">
      <el-input type="textarea" :rows="5" id="imageUrlStart" v-model="form.imageUrlStart"></el-input>
      <div class="tips">遇到变动字符请<el-link :underline="false" type="primary" v-on:click="insert('imageUrlStart', '*')">插入 * 通配符</el-link>，多个条件请<el-link :underline="false" type="primary" v-on:click="insert('imageUrlStart', '|')">插入 | 通配符</el-link></div>
    </el-form-item>
    <el-form-item label="列表页图片地址结束（必填）" prop="imageUrlEnd" :rules="{ required: true, message: '请输入列表页图片地址结束' }">
      <el-input type="textarea" :rows="5" id="imageUrlEnd" v-model="form.imageUrlEnd"></el-input>
      <div class="tips">遇到变动字符请<el-link :underline="false" type="primary" v-on:click="insert('imageUrlEnd', '*')">插入 * 通配符</el-link>，多个条件请<el-link :underline="false" type="primary" v-on:click="insert('imageUrlEnd', '|')">插入 | 通配符</el-link></div>
    </el-form-item>
  </template>

</el-form>
<el-form v-show="step === 2" ref="form2" :model="form" size="small" label-width="240px">

  <el-form-item label="内容标题（必填）">
    <el-radio-group v-model="form.contentTitleByList">
      <el-radio :label="false">从详情页获取</el-radio>
      <el-radio :label="true">从列表页获取</el-radio>
    </el-radio-group>
  </el-form-item>
  <el-form-item label="内容标题开始（必填）" prop="contentTitleStart" :rules="{ required: true, message: '请输入内容标题开始' }">
    <el-input type="textarea" :rows="5" id="contentTitleStart" v-model="form.contentTitleStart"></el-input>
    <div class="tips">遇到变动字符请<el-link :underline="false" type="primary" v-on:click="insert('contentTitleStart', '*')">插入 * 通配符</el-link>，多个条件请<el-link :underline="false" type="primary" v-on:click="insert('contentTitleStart', '|')">插入 | 通配符</el-link></div>
  </el-form-item>
  <el-form-item label="内容标题结束（必填）" prop="contentTitleEnd" :rules="{ required: true, message: '请输入内容标题结束' }">
    <el-input type="textarea" :rows="5" id="contentTitleEnd" v-model="form.contentTitleEnd"></el-input>
    <div class="tips">遇到变动字符请<el-link :underline="false" type="primary" v-on:click="insert('contentTitleEnd', '*')">插入 * 通配符</el-link>，多个条件请<el-link :underline="false" type="primary" v-on:click="insert('contentTitleEnd', '|')">插入 | 通配符</el-link></div>
  </el-form-item>
  <el-form-item label="内容正文开始（必填）" prop="contentContentStart" :rules="{ required: true, message: '请输入内容正文开始' }">
    <el-input type="textarea" :rows="5" id="contentContentStart" v-model="form.contentContentStart"></el-input>
    <div class="tips">遇到变动字符请<el-link :underline="false" type="primary" v-on:click="insert('contentContentStart', '*')">插入 * 通配符</el-link>，多个条件请<el-link :underline="false" type="primary" v-on:click="insert('contentContentStart', '|')">插入 | 通配符</el-link></div>
  </el-form-item>
  <el-form-item label="内容正文结束（必填）" prop="contentContentEnd" :rules="{ required: true, message: '请输入内容正文结束' }">
    <el-input type="textarea" :rows="5" id="contentContentEnd" v-model="form.contentContentEnd"></el-input>
    <div class="tips">遇到变动字符请<el-link :underline="false" type="primary" v-on:click="insert('contentContentEnd', '*')">插入 * 通配符</el-link>，多个条件请<el-link :underline="false" type="primary" v-on:click="insert('contentContentEnd', '|')">插入 | 通配符</el-link></div>
  </el-form-item>
  <el-form-item label="内容正文开始2（选填）">
    <el-input type="textarea" :rows="5" id="contentContentStart2" v-model="form.contentContentStart2"></el-input>
    <div class="tips">遇到变动字符请<el-link :underline="false" type="primary" v-on:click="insert('contentContentStart2', '*')">插入 * 通配符</el-link>，多个条件请<el-link :underline="false" type="primary" v-on:click="insert('contentContentStart2', '|')">插入 | 通配符</el-link></div>
  </el-form-item>
  <el-form-item label="内容正文结束2（选填）">
    <el-input type="textarea" :rows="5" id="contentContentEnd2" v-model="form.contentContentEnd2"></el-input>
    <div class="tips">遇到变动字符请<el-link :underline="false" type="primary" v-on:click="insert('contentContentEnd2', '*')">插入 * 通配符</el-link>，多个条件请<el-link :underline="false" type="primary" v-on:click="insert('contentContentEnd2', '|')">插入 | 通配符</el-link></div>
  </el-form-item>
  <el-form-item label="内容正文开始3（选填）">
    <el-input type="textarea" :rows="5" id="contentContentStart3" v-model="form.contentContentStart3"></el-input>
    <div class="tips">遇到变动字符请<el-link :underline="false" type="primary" v-on:click="insert('contentContentStart3', '*')">插入 * 通配符</el-link>，多个条件请<el-link :underline="false" type="primary" v-on:click="insert('contentContentStart3', '|')">插入 | 通配符</el-link></div>
  </el-form-item>
  <el-form-item label="内容正文结束3（选填）">
    <el-input type="textarea" :rows="5" id="contentContentEnd3" v-model="form.contentContentEnd3"></el-input>
    <div class="tips">遇到变动字符请<el-link :underline="false" type="primary" v-on:click="insert('contentContentEnd3', '*')">插入 * 通配符</el-link>，多个条件请<el-link :underline="false" type="primary" v-on:click="insert('contentContentEnd3', '|')">插入 | 通配符</el-link></div>
  </el-form-item>
  <el-form-item label="内容下一页开始（选填）">
    <el-input type="textarea" :rows="5" id="contentNextPageStart" v-model="form.contentNextPageStart"></el-input>
    <div class="tips">遇到变动字符请<el-link :underline="false" type="primary" v-on:click="insert('contentNextPageStart', '*')">插入 * 通配符</el-link>，多个条件请<el-link :underline="false" type="primary" v-on:click="insert('contentNextPageStart', '|')">插入 | 通配符</el-link></div>
  </el-form-item>
  <el-form-item label="内容下一页结束（选填）">
    <el-input type="textarea" :rows="5" id="contentNextPageEnd" v-model="form.contentNextPageEnd"></el-input>
    <div class="tips">遇到变动字符请<el-link :underline="false" type="primary" v-on:click="insert('contentNextPageEnd', '*')">插入 * 通配符</el-link>，多个条件请<el-link :underline="false" type="primary" v-on:click="insert('contentNextPageEnd', '|')">插入 | 通配符</el-link></div>
  </el-form-item>

</el-form>
<el-form v-show="step === 3" ref="form3" :model="form" size="small" label-width="240px">

  <el-form-item label="可选采集字段">
    <el-checkbox v-for="attribute in attributes" :key="attribute.value" v-model="attribute.selected" :label="attribute.value">{{ attribute.label }}</el-checkbox>
  </el-form-item>
  <template v-for="attribute in attributes" v-if="attribute.selected">
    <template v-if="attribute.selected && attribute.value === 'FileName'">
      <el-form-item label="原页面文件名保存至" prop="fileNameAttributeName" :rules="{ required: true, message: '请选择原页面文件名保存字段' }">
        <el-select v-model="form.fileNameAttributeName" style="width: 200px" placeholder="请选择字段">
          <el-option v-for="style in styles" :label="style.displayName" :value="style.attributeName"></el-option>
        </el-select>
        <div class="tips">系统将把原页面文件名保存至所选择的字段中</div>
      </el-form-item>
    </template>
    <template v-else>
      <el-form-item :label="attribute.label + '（必填）'" :prop="getByListName(attribute)" :rules="{ required: true, message: '请选择' + attribute.label }">
        <el-radio-group :id="getByListName(attribute)" v-model="form[getByListName(attribute)]">
          <el-radio :label="false">从详情页获取</el-radio>
          <el-radio :label="true">从列表页获取</el-radio>
        </el-radio-group>
      </el-form-item>
      <el-form-item :label="attribute.label + '开始（必填）'" :prop="getStartName(attribute)" :rules="{ required: true, message: '请输入' + attribute.label + '开始' }">
        <el-input type="textarea" :rows="5" :id="getStartName(attribute)" v-model="form[getStartName(attribute)]"></el-input>
        <div class="tips">遇到变动字符请<el-link :underline="false" type="primary" v-on:click="insert(getStartName(attribute), '*')">插入 * 通配符</el-link>，多个条件请<el-link :underline="false" type="primary" v-on:click="insert(getStartName(attribute), '|')">插入 | 通配符</el-link></div>
      </el-form-item>
      <el-form-item :label="attribute.label + '结束（必填）'" :prop="getEndName(attribute)" :rules="{ required: true, message: '请输入' + attribute.label + '结束' }">
        <el-input type="textarea" :rows="5" :id="getEndName(attribute)" v-model="form[getEndName(attribute)]"></el-input>
        <div class="tips">遇到变动字符请<el-link :underline="false" type="primary" v-on:click="insert(getEndName(attribute), '*')">插入 * 通配符</el-link>，多个条件请<el-link :underline="false" type="primary" v-on:click="insert(getEndName(attribute), '|')">插入 | 通配符</el-link></div>
      </el-form-item>
      <el-form-item :label="attribute.label + '默认值（选填）'">
        <el-input v-model="form[getDefaultName(attribute)]"></el-input>
        <div class="tips">无匹配项时字段的默认值</div>
      </el-form-item>
    </template>
  </template>

</el-form>
<el-form v-show="step === 4" ref="form4" :model="form" size="small" label-width="240px">

  <el-form-item label="内容标题包含（选填）">
    <el-input id="titleInclude" v-model="form.titleInclude"></el-input>
    <div class="tips">限定采集内容的标题必须包含的字符串，遇到变动字符请<el-link :underline="false" type="primary" v-on:click="insert('titleInclude', '*')">插入 * 通配符</el-link>，多个条件请<el-link :underline="false" type="primary" v-on:click="insert('titleInclude', '|')">插入 | 通配符</el-link></div>
  </el-form-item>
  <el-form-item label="区域内网址开始（选填）">
    <el-input type="textarea" :rows="5" id="listAreaStart" v-model="form.listAreaStart"></el-input>
    <div class="tips">遇到变动字符请<el-link :underline="false" type="primary" v-on:click="insert('listAreaStart', '*')">插入 * 通配符</el-link>，多个条件请<el-link :underline="false" type="primary" v-on:click="insert('listAreaStart', '|')">插入 | 通配符</el-link></div>
  </el-form-item>
  <el-form-item label="区域内网址结束（选填）">
    <el-input type="textarea" :rows="5" id="listAreaEnd" v-model="form.listAreaEnd"></el-input>
    <div class="tips">遇到变动字符请<el-link :underline="false" type="primary" v-on:click="insert('listAreaEnd', '*')">插入 * 通配符</el-link>，多个条件请<el-link :underline="false" type="primary" v-on:click="insert('listAreaEnd', '|')">插入 | 通配符</el-link></div>
  </el-form-item>
  <el-form-item label="登陆网站Cookie（选填）">
    <el-input v-model="form.cookieString"></el-input>
    <div class="tips">采集登陆网站时需要的Cookie字符串</div>
  </el-form-item>
  <el-form-item label="内容正文排除（选填）">
    <el-input type="textarea" :rows="5" id="contentExclude" v-model="form.contentExclude"></el-input>
    <div class="tips">限定采集内容的正文必须排除的字符串，遇到变动字符请<el-link :underline="false" type="primary" v-on:click="insert('contentExclude', '*')">插入 * 通配符</el-link>，多个条件请<el-link :underline="false" type="primary" v-on:click="insert('contentExclude', '|')">插入 | 通配符</el-link></div>
  </el-form-item>
  <el-form-item label="清除Html标签及包含文字（选填）">
    <el-select v-model="form.contentHtmlClearList" multiple placeholder="请选择">
      <el-option value="script" label="脚本(script)"></el-option>
      <el-option value="object" label="对象(object)"></el-option>
      <el-option value="iframe" label="框架(iframe)"></el-option>
      <el-option value="a" label="链接(a)"></el-option>
      <el-option value="br" label="换行(br)"></el-option>
      <el-option value="table" label="表格(table)"></el-option>
      <el-option value="tbody" label="表格体(tbody)"></el-option>
      <el-option value="tr" label="表格行(tr)"></el-option>
      <el-option value="td" label="单元(td)"></el-option>
      <el-option value="font" label="字体(font)"></el-option>
      <el-option value="div" label="DIV(div)"></el-option>
      <el-option value="span" label="SPAN(span)"></el-option>
      <el-option value="img" label="图象(img)"></el-option>
      <el-option value="&nbsp;" label="空格"></el-option>
    </el-select>
    <div class="tips">采集内容的正文必须清除的Html标签及包含的文字</div>
  </el-form-item>

</el-form>
<div v-show="step === 5" class="el-alert el-alert--success is-light" style="padding: 30px">
  <div class="el-alert__content">
    <span class="el-alert__title is-bold" style="font-size: 14px;">采集规则{{ ruleId > 0 ? '编辑' : '添加' }}完成！</span>
    <el-button style="margin-left: 5px;" size="small" type="default" v-on:click="btnCloseClick">
      关 闭
    </el-button>
  </div>
</div>

<el-divider></el-divider>
<div v-if="step < 5" style="text-align: center; margin: 20px 0;">
  <el-button size="small" type="primary" :disabled="step === 0" v-on:click="btnPreviousClick">&lt; 上一步</el-button>
  <el-button size="small" type="primary" v-on:click="btnSubmitClick">下一步 &gt;</el-button>
</div>

@section Scripts{
  <script src="/assets/gather/js/add.js" type="text/javascript"></script>
}