@page
@{ Layout = "_Layout"; }

<el-form ref="form" :model="form" size="small" label-width="120px">

  <el-form-item label="采集规则名称" prop="ruleName" :rules="{ required: true, message: '请输入采集规则名称' }">
    <el-input v-model="form.ruleName"></el-input>
  </el-form-item>

</el-form>

<div style="height: 10px"></div>

<el-divider></el-divider>
<el-row align="right" style="margin-right: 5px; margin-top: 10px;">
  <el-col :span="24" align="right">
    <el-button size="small" type="primary" v-on:click="btnSubmitClick">确 定</el-button>
    <el-button size="small" v-on:click="btnCancelClick">取 消</el-button>
  </el-col>
</el-row>

@section Scripts{
  <script src="/assets/gather/js/layerCopy.js" type="text/javascript"></script>
}
