@page
@{ Layout = "_Layout"; }

<div style="height: 10px"></div>

<el-table :data="rules">
  <el-table-column prop="ruleName" label="采集规则" width="200"></el-table-column>
  <el-table-column prop="gatherUrl" label="采集网址"></el-table-column>
  <el-table-column prop="gatherDate" label="最近采集时间" width="160"></el-table-column>
  <el-table-column label="操作" width="400">
    <template slot-scope="scope">

      <el-link :underline="false" style="margin-right: 5px;" type="primary" v-on:click="btnTestClick(scope.row)">
        测 试
      </el-link>
      <el-link :underline="false" style="margin-right: 5px;" type="primary" v-on:click="btnStartClick(scope.row)">
        开始采集
      </el-link>
      <el-link :underline="false" style="margin-right: 5px;" type="primary" v-on:click="btnSingleClick(scope.row)">
        单页采集
      </el-link>
      <el-link :underline="false" style="margin-right: 5px;" type="primary" v-on:click="btnEditClick(scope.row)">
        编 辑
      </el-link>
      <el-link :underline="false" style="margin-right: 5px;" v-on:click="btnExportClick(scope.row)" type="primary">
        导 出
      </el-link>
      <el-link :underline="false" style="margin-right: 5px;" type="primary" v-on:click="btnCopyClick(scope.row)" target="_blank">
        复 制
      </el-link>
      <el-link :underline="false" style="margin-right: 5px;" type="danger" v-on:click="btnDeleteClick(scope.row)">
        删 除
      </el-link>

    </template>
  </el-table-column>
</el-table>

<div style="height: 10px"></div>
<el-divider></el-divider>
<div style="height: 10px"></div>

<el-upload
  style="width: 100px;"
  class="uploader"
  :action="urlUpload"
  :headers="{Authorization: 'Bearer ' + $token}"
  :show-file-list="false"
  :drag="false"
  :limit="1"
  :before-upload="uploadBefore"
  :on-progress="uploadProgress"
  :on-success="uploadSuccess"
  :on-error="uploadError"
  :multiple="false">
  <el-button
    size="small"
    type="default">
    导入采集规则
  </el-button>
</el-upload>

@section Scripts{
  <script src="/assets/gather/js/list.js" type="text/javascript"></script>
}