@page
@{ Layout = "_Layout"; }

<div style="height: 10px"></div>

<el-card v-for="rule in rules" :key="rule.id" style="width: 100%; margin-bottom: 20px;">
  <div slot="header" class="clearfix">
    <span>{{ rule.ruleName }}</span>
  </div>
  <div class="text item" v-if="rule.error || rule.cache.status">
    <el-alert
      v-if="rule.error || rule.cache.status === 'failure'"
      :title="rule.error || rule.cache.message"
      type="error"
      effect="dark"
      :closable="false"
      show-icon>
    </el-alert>
    <el-alert
      v-else-if="rule.cache.status === 'success'"
      :title="rule.cache.message"
      type="success"
      effect="dark"
      :closable="false"
      show-icon>
    </el-alert>
    <template v-else>

      <el-progress :text-inside="true" :stroke-width="24" :percentage="rule.percentage" status="success"></el-progress>

      <h4 v-if="rule.cache.totalCount > 0">
        共获取到 <strong>{{rule.cache.totalCount}}</strong> 篇内容，成功采集到 <strong>{{rule.cache.successCount}}</strong> 篇内容
      </h4>
      <el-alert
      v-if="rule.cache.isSuccess"
        :title="rule.cache.message"
        type="success"
        show-icon>
      </el-alert>
      <el-alert
        v-else
        :title="rule.cache.message"
        type="error"
        show-icon>
      </el-alert>

    </template>

    <div v-if="rule.cache.failureMessages && rule.cache.failureMessages.length > 0" class="text-center" style="max-height: 300px; overflow-y: auto;">
      <h4>采集失败记录</h4>
      <el-divider></el-divider>
      <el-alert
        v-for="failureMessage in rule.cache.failureMessages"
        :key="failureMessage"
        :title="failureMessage"
        type="error"
        show-icon>
      </el-alert>
    </div>
  </div>
</el-card>

<el-divider></el-divider>
<div style="text-align: center; margin: 20px 0;">
  <el-button size="small" type="default" v-on:click="btnCloseClick">关 闭</el-button>
</div>

@section Scripts{
  <script src="/assets/gather/js/status.js" type="text/javascript"></script>
}