@page
@{ Layout = "_Layout"; }
@section Styles{
  <style>
    .el-form-item__label {
      font-weight: bold;
    }
  </style>
}

<div style="height: 10px"></div>

<el-form stripe size="small" label-width="100px">

  <el-form-item label="内容地址">
    <el-link :underline="false" type="primary" target="_blank" :href="contentUrl">{{contentUrl}}</el-link>
  </el-form-item>

  <template v-if="contentUrl && attributes && attributes.length > 0">
    <el-form-item v-for="attribute in attributes" :key="attribute.key" :label="attribute.key">
      <div v-html="attribute.value"></div>
    </el-form-item>
  </template>

</el-form>

<el-divider></el-divider>
<div style="text-align: center; margin: 20px 0;">
  <el-button size="small" type="default" v-on:click="btnCloseClick">关 闭</el-button>
</div>

@section Scripts{
  <script src="/assets/gather/js/testingContent.js" type="text/javascript"></script>
}